name: duo-ci

on:
  push:
    tags:
      - '*'
    branches:
      - '*'
  pull_request:
  workflow_dispatch:

env:
  ARCH: riscv

jobs:
  build:
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        model: [duo, duo256m, duos]
        toolchains: [glibc-arm64, musl-riscv64]
        flash: [sd, emmc]
        exclude:
          - model: duo
            toolchains: glibc-arm64
          - model: duo
            toolchains: musl-riscv64
            flash: emmc
          - model: duo256m
            flash: emmc

    steps:
      - name: Update Apt Cache
        run: sudo apt update

      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@main
        with:
          # this might remove tools that are actually needed,
          # if set to "true" but frees about 6 GB
          tool-cache: true
          # all of these default to true, but feel free to set to
          # "false" if necessary for your workflow
          android: true
          dotnet: true
          haskell: true
          large-packages: true
          docker-images: true
          swap-storage: true

      - name: Install Software
        run: |
              sudo apt install -y pkg-config build-essential ninja-build automake autoconf libtool wget curl \
                                  git gcc libssl-dev bc slib squashfs-tools android-sdk-libsparse-utils jq tree \
                                  python3-distutils scons parallel tree python3-dev python3-pip device-tree-compiler \
                                  ssh cpio fakeroot libncurses5 flex bison libncurses5-dev genext2fs rsync unzip \
                                  dosfstools mtools tcl openssh-client cmake expect python-is-python3 python3-jinja2 zstd

      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Checkout Host Tools
        uses: actions/checkout@v4
        with:
          repository: 'milkv-duo/host-tools'
          path: 'host-tools'

      - name: Download packages
        run: |
          wget https://github.com/milkv-duo/duo-buildroot-sdk-v2/releases/download/dl/dl.tar
          tar xf dl.tar -C buildroot/

      - name: Build ${{ matrix.model }}-${{ matrix.toolchains }}-${{ matrix.flash }}
        run: |
          TARGET="milkv-${{ matrix.model }}-${{ matrix.toolchains }}-${{ matrix.flash }}"
          ./build.sh ${TARGET}

      - name: Compress ${{ matrix.model }}-${{ matrix.toolchains }}-${{ matrix.flash }}
        run: |
          pushd out
            zstd *
          popd

      - name: Upload ${{ matrix.model }}-${{ matrix.toolchains }}-${{ matrix.flash }}
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.model }}-${{ matrix.toolchains }}-${{ matrix.flash }}
          path: out/*.zst
          retention-days: 30
